body {
	background: #333;
}
monitor{
	background: #bbb;
	width: 40vw;
	height: 20vw;
	display: block;
	margin: 0 auto;
	margin-bottom: 5vw;
	text-align: center;
	border-radius: 2px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 50%;
		height: 4vw;
		left: 25%;
		bottom: -4vw;
		border: 1px solid rgba(0,0,0,0.25);
		background: #777;
		z-index: -2;
	}
	light {
		background: rgba(0,200,0,0.7);
		width: 1vw;
		height: 1vw;
		border-radius: 50%;
		position: absolute;
		bottom: 1vw;
		right: 1vw;
		box-shadow: 0 0 5px 0 rgba(0,255,0,0.7);
		&:after {
			content: "";
			position: absolute;
			border-radius: 50%;
			border: 1px solid rgba(0,100,0,0.3);
			width: 100%;
			height: 100%;
			left: -1px;
			top: -1px;
		}
	}
	screen {
		display: block;
		width: 85%;
		height: 85%;
		margin: 0 auto;
		position: relative;
		background: #bcf;
		top: 7.5%;
		box-shadow:
			0 0 2vw 1vw #ddf,
			inset 0 0 1vw 0 rgba(0,0,0,0.2);
		transition: all 200ms;
		&.failure {
			background: #fbc;
		}
		&.success {
			background: #bfc;
		}
		status {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: sans-serif;
			font-size: 6vw;
			opacity: 0.7;
			line-height: 6vw;
			span {
				font-size: 0.5em;
				line-height: 1;
				display: block;
			}
		}
		counter{
			opacity: 0.5;
			position: absolute;
			top: 0.5vw;
			left: 0.5vw;
		}
		score{
			opacity: 0.5;
			position: absolute;
			top: 0.5vw;
			right: 0.5vw;
		}
	}
}
keyboard {
	text-align: center;
}
button {
	position: relative;
	margin: 0 5px 5px 0;
	padding: 5px;
	top: 0px;
	background: #eee;
	font-size: 12px;
	text-transform: uppercase;
	transition: all 200ms;
	box-shadow: 0 3px 0 #777;
	&:hover{
		box-shadow: 0 1px 0 #777;
		top: 2px;
	}
	&.failure {
		background: #fbc;
	}
	&.success, &.solved {
		background: #bfc;
	}
}	
